<div class="header-search-block">
    <div class="container">
        <div class="main-search-content">
            <p>Download Free <strong>Icons</strong> and <strong>Stickers</strong> for your projects.</p>
            <input type="text" placeholder="Search for icons" />
        </div>
    </div>
</div>
<div class="icons-listing">
    <div class="container">
        <div class="search-icon-counter">
            <h4>323,167 User Icons</h4>
        </div>
        <div class="icon-listing-block">
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
            <div class="icon-view">
                <img src="../../../assets/img/icon-1.svg">
            </div>
        </div>
    </div>
</div>