<div class="header-main">
    <div class="logo-main">
        <a route-link="/"><img src="{{logo}}" /></a>
    </div>
    <nav class="navigation-main">
        <ul>
            <li>
                <a href="#">Icons</a>
            </li>
            <li>
                <a href="#">Stickers</a>
            </li>
            <li>
                <a href="#">Icon Pack</a>
            </li>
            <li>
                <a href="#">Social Icons</a>
            </li>
        </ul>
        <div class="login-nav-block">
            <button class="btn-pri">Login / Signup</button>
        </div>
    </nav>
</div>

   