<footer class="footer-main">
    <div class="container">
        <div class="footer-logo">
            <img src="../../assets/img/footer-logo.svg">
        </div>
        <div class="nav-block-footer">
            <div class="grid-4">
                <div class="nav-item-foot">
                    <h6>CONTENT</h6>
                    <ul>
                        <li>
                            <a href="#">Icons</a>
                        </li>
                        <li>
                            <a href="#">Stickers</a>
                        </li>
                        <li>
                            <a href="#">Interface icons</a>
                        </li>
                        <li>
                            <a href="#">Animated icons</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-item-foot">
                    <h6>CONTENT</h6>
                    <ul>
                        <li>
                            <a href="#">Icons</a>
                        </li>
                        <li>
                            <a href="#">Stickers</a>
                        </li>
                        <li>
                            <a href="#">Interface icons</a>
                        </li>
                        <li>
                            <a href="#">Animated icons</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-item-foot">
                    <h6>CONTENT</h6>
                    <ul>
                        <li>
                            <a href="#">Icons</a>
                        </li>
                        <li>
                            <a href="#">Stickers</a>
                        </li>
                        <li>
                            <a href="#">Interface icons</a>
                        </li>
                        <li>
                            <a href="#">Animated icons</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-item-foot">
                    <h6>CONTENT</h6>
                    <div class="newsletter-block">
                        <h4>Subscribe to latest insights</h4>
                        <div class="newsletter-field">
                            <input type="email" placeholder="E-mail address" />
                            <button class="submit-arrow">
                                <img src="../../assets/img/arrow-right.svg" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2022 Iconneed. All Rights Reserved.</p>
    </div>
</footer>