<main class="upload-block-wrap">
    <div class="container">
        <div class="upload-icons-block">
            <div class="main-title">
                <h1>Upload Icon</h1>
            </div>
            <div class="grid-2">
                <div class="block-upload">
                    <form action="/target" class="form-item">
                        <div class="fileinput-button dz-clickable">
                            <div class="upload-block">
                                <div class="badge-name">PNG</div>
                                <img src="../../../assets/img/upload-icon.svg">
                                <h5>Drag and drop or click here</h5>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="block-upload">
                    <form action="/target" class="form-item">
                        <div class="fileinput-button dz-clickable">
                            <div class="upload-block">
                                <div class="badge-name">SVG</div>
                                <img src="../../../assets/img/upload-icon.svg">
                                <h5>Drag and drop or click here</h5>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="block-upload">
                    <div class="form-item">
                        <input type="text" class="textfield" />
                        <label>Bundle Name</label>
                    </div>
                </div>
                <div class="block-upload">
                    <div class="form-item">
                        <input type="text" class="textfield" />
                        <label>Icon Name</label>
                    </div>
                </div>
                <div class="block-upload">
                    <div class="form-item">
                        <select id="multiple-checkboxes" multiple="multiple">
                            <option value="php">PHP</option>
                            <option value="javascript">JavaScript</option>
                            <option value="java">Java</option>
                            <option value="sql">SQL</option>
                            <option value="jquery">Jquery</option>
                            <option value=".net">.Net</option>
                        </select>
                        <label>Icon Type</label>
                    </div>
                </div>
                <div class="block-upload">
                    <div class="form-item">
                        <input type="text" value="" data-role="tagsinput" placeholder="Add tags" />
                        <label>Related Icons</label>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="action-form">
                    <button class="btn-pri btn-lg" type="submit">Save</button>
                    <button class="btn-sec btn-lg" type="submit">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</main>