<div class="header-search-block">
    <input type="text" placeholder="Search for icons" />
</div>

<div class="feature-block">
    <div class="container">
        <div class="grid-4">
            <div class="card">
                <figure>
                    <img src="../../assets/img/icon-set.png" />
                </figure>
                <div class="disc-card-feature">
                    <h3>Icons</h3>
                    <p>The largest database of free icons
                    for any project.</p>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../../assets/img/stricker.png" />
                </figure>
                <div class="disc-card-feature">
                    <h3>Icons</h3>
                    <p>The largest database of free icons
                        for any project.</p>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../../assets/img/icon-pack.png" />
                </figure>
                <div class="disc-card-feature">
                    <h3>Icons</h3>
                    <p>The largest database of free icons
                        for any project.</p>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../../assets/img/social-icons.png" />
                </figure>
                <div class="disc-card-feature">
                    <h3>Icons</h3>
                    <p>The largest database of free icons
                        for any project.</p>
                </div>
            </div>
        </div>
    </div>
</div>

