<div class="header-search-block">
    <div class="container">
        <div class="main-search-content">
            <h2>Best vector icons</h2>
            <p>Download Free <strong>Icons</strong> and <strong>Stickers</strong> for your projects.</p>
            <input type="text" placeholder="Search for icons" />
        </div>
    </div>
</div>

<section class="feature-block">
    <div class="container">
        <div class="grid-4 mb-50">
            <div class="card feature-item">
                <figure>
                    <img src="../../assets/img/icon-set.png" />
                </figure>
                <div class="disc-card-feature">
                    <h3>Icons</h3>
                    <p>The largest database of free icons
                    for any project.</p>
                </div>
            </div>
            <div class="card feature-item">
                <figure>
                    <img src="../../assets/img/stricker.png" />
                </figure>
                <div class="disc-card-feature">
                    <h3>Icons</h3>
                    <p>The largest database of free icons
                        for any project.</p>
                </div>
            </div>
            <div class="card feature-item">
                <figure>
                    <img src="../../assets/img/icon-pack.png" />
                </figure>
                <div class="disc-card-feature">
                    <h3>Icons</h3>
                    <p>The largest database of free icons
                        for any project.</p>
                </div>
            </div>
            <div class="card feature-item">
                <figure>
                    <img src="../../assets/img/social-icons.png" />
                </figure>
                <div class="disc-card-feature">
                    <h3>Icons</h3>
                    <p>The largest database of free icons
                        for any project.</p>
                </div>
            </div>
        </div>
        <div class="grid-12">
            <div class="fluid-feature card">
                <div class="left-content-feature">
                    <h3>Icon Fonts for any project, big or small</h3>
                    <p>+6,100 SVG and web font-optimal vector-based icons for web, iOS, and Android applications.</p>
                    <div class="btn-block">
                        <button class="btn-pri">Learn more</button>
                    </div>
                </div>
                <figure>
                    <img src="../../assets/img/feature-img.png" />
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="latest-icons-block">
    <div class="container">
        <div class="heading-main">
            <div class="left">
                <label>Icon Packs</label>
                <h3>Latest Free</h3>
            </div>
            <div class="right">
                <button class="btn-pri">View All</button>
            </div>
        </div>
        <div class="bundle-set-block grid-4">
            <div class="feature-item item">
                <a href="#">
                    <figure>
                        <img src="../../assets/img/set-1.png" />
                    </figure>
                    <div class="disc-card-feature">
                        <div class="counter-set">
                            <strong>40</strong>
                            Icons
                        </div>
                        <h3>Japan icon set</h3>
                        <p>The largest database of free icons for any project.</p>
                    </div>
                </a>
            </div>
            <div class="feature-item item">
                <a href="#">
                    <figure>
                        <img src="../../assets/img/set-2.png" />
                    </figure>
                    <div class="disc-card-feature">
                        <div class="counter-set">
                            <strong>40</strong>
                            Icons
                        </div>
                        <h3>Japan icon set</h3>
                        <p>The largest database of free icons for any project.</p>
                    </div>
                </a>
            </div>
            <div class="feature-item item">
                <a href="#">
                    <figure>
                        <img src="../../assets/img/set-3.png" />
                    </figure>
                    <div class="disc-card-feature">
                        <div class="counter-set">
                            <strong>40</strong>
                            Icons
                        </div>
                        <h3>Japan icon set</h3>
                        <p>The largest database of free icons for any project.</p>
                    </div>
                </a>
            </div>
            <div class="feature-item item">
                <a href="#">
                    <figure>
                        <img src="../../assets/img/set-4.png" />
                    </figure>
                    <div class="disc-card-feature">
                        <div class="counter-set">
                            <strong>40</strong>
                            Icons
                        </div>
                        <h3>Japan icon set</h3>
                        <p>The largest database of free icons for any project.</p>
                    </div>
                </a>
            </div>
            <div class="feature-item item">
                <a href="#">
                    <figure>
                        <img src="../../assets/img/set-5.png" />
                    </figure>
                    <div class="disc-card-feature">
                        <div class="counter-set">
                            <strong>40</strong>
                            Icons
                        </div>
                        <h3>Japan icon set</h3>
                        <p>The largest database of free icons for any project.</p>
                    </div>
                </a>
            </div>
            <div class="feature-item item">
                <a href="#">
                    <figure>
                        <img src="../../assets/img/set-6.png" />
                    </figure>
                    <div class="disc-card-feature">
                        <div class="counter-set">
                            <strong>40</strong>
                            Icons
                        </div>
                        <h3>Japan icon set</h3>
                        <p>The largest database of free icons for any project.</p>
                    </div>
                </a>
            </div>
            <div class="feature-item item">
                <a href="#">
                    <figure>
                        <img src="../../assets/img/set-7.png" />
                    </figure>
                    <div class="disc-card-feature">
                        <div class="counter-set">
                            <strong>40</strong>
                            Icons
                        </div>
                        <h3>Japan icon set</h3>
                        <p>The largest database of free icons for any project.</p>
                    </div>
                </a>
            </div>
            <div class="feature-item item">
                <a href="#">
                    <figure>
                        <img src="../../assets/img/set-8.png" />
                    </figure>
                    <div class="disc-card-feature">
                        <div class="counter-set">
                            <strong>40</strong>
                            Icons
                        </div>
                        <h3>Japan icon set</h3>
                        <p>The largest database of free icons for any project.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
